#nml-home-carousel {
    height: 70%;
    overflow: hidden;

    margin: 0;

    .carousel-inner > .item > img,
    .carousel-inner > .item > a > img {
        width: 100%;

        margin: auto;
    }
}
