<div id="nml-news-page-marker" class="nml-page-marker">
    <span id="nml-news-header-title" class="nml-header-title">news</span>
</div>
<div id="news" class="nml-page"><!--TODO prefix and rename id: "news" ---► "nml-news-page"-->
    <div id="nml-news-page-side" class="nml-page-side nml-page-left-side">
        <div class="nml-animation-element nml-page-side-eye-driver"></div>
    </div>
    <div id="nml-news-page-content" class="nml-page-content">

        <div id="nml-news-container">
            <div class="nml-news-item" ><!--ng-repeat="video in videos"-->
                <h2 class="nml-news-title">
                    First album is released in september
                </h2>
                <h3 class="nml-news-preamble">
                    This is the first album, though the band has a long history
                </h3>
                <section class="nml-news-article">
                    <a href="../../../asets/images/cover.jpg" target="_blank" class="nml-no-link-decoration claerfix"><img src="../../../assets/images/cover.jpg" width="200"></a>
                    <p>Although the band has a long history behind their backs, this is the first official album of the band under name "Aron's Land Cargo Co.". The band was called "No Man's Land" before.</p>
                    <p>That name was left behind because unfortunately it is not applicable to identify and distinguish the band. Also the band intends to leave behind some of its parts with the old name, while the new name still points out the essence of its music.</p>
                    <p>The new album brings the best of what the band has created so far. A soundtrack of the deserted lands of a man's life, and the tunes of his heart overflown with vibrant feelings.</p>
                    <p>No people can be as much in line as a band as these four brothers can.</p>
                    <p>Read about the band in the <a ng-click="onMenuItemClick($event, 'Bio', 'nml-bio-page-marker')">Bio</a> section.</p>
                </section>
                <div class="nml-news-date"></div>
                <hr/>
            </div>

            <div class="nml-news-item" ><!--ng-repeat="video in videos"-->
                <h2 class="nml-news-title">
                    First album is released in september
                </h2>
                <h3 class="nml-news-preamble">
                    This is the first album, though the band has a long history
                </h3>
                <section class="nml-news-article">
                    <a href="../../../asets/images/cover.jpg" target="_blank" class="nml-no-link-decoration claerfix"><img src="../../../assets/images/cover.jpg" width="200"></a>
                    <p>Although the band has a long history behind their backs, this is the first official album of the band under name "Aron's Land Cargo Co.". The band was called "No Man's Land" before.</p>
                    <p>That name was left behind because unfortunately it is not applicable to identify and distinguish the band. Also the band intends to leave behind some of its parts with the old name, while the new name still points out the essence of its music.</p>
                    <p>The new album brings the best of what the band has created so far. A soundtrack of the deserted lands of a man's life, and the tunes of his heart overflown with vibrant feelings.</p>
                    <p>No people can be as much in line as a band as these four brothers can.</p>
                    <p>Read about the band in the <a ng-click="onMenuItemClick($event, 'Bio', 'nml-bio-page-marker')">Bio</a> section.</p>
                </section>
                <div class="nml-news-date"></div>
                <hr/>
            </div>

            <div class="nml-news-item" ><!--ng-repeat="video in videos"-->
                <h2 class="nml-news-title">
                    First album is released in september
                </h2>
                <h3 class="nml-news-preamble">
                    This is the first album, though the band has a long history
                </h3>
                <section class="nml-news-article">
                    <a href="../../../asets/images/cover.jpg" target="_blank" class="nml-no-link-decoration claerfix"><img src="../../../assets/images/cover.jpg" width="200"></a>
                    <p>Although the band has a long history behind their backs, this is the first official album of the band under name "Aron's Land Cargo Co.". The band was called "No Man's Land" before.</p>
                    <p>That name was left behind because unfortunately it is not applicable to identify and distinguish the band. Also the band intends to leave behind some of its parts with the old name, while the new name still points out the essence of its music.</p>
                    <p>The new album brings the best of what the band has created so far. A soundtrack of the deserted lands of a man's life, and the tunes of his heart overflown with vibrant feelings.</p>
                    <p>No people can be as much in line as a band as these four brothers can.</p>
                    <p>Read about the band in the <a ng-click="onMenuItemClick($event, 'Bio', 'nml-bio-page-marker')">Bio</a> section.</p>
                </section>
                <div class="nml-news-date"></div>
                <hr/>
            </div>
        </div>
    </div>
</div>
<section id="nml-gap-news" class="nml-gap"></section><!--TODO rename id: "nml-gap" ---► "nml-page-gap"-->
